

<!-- Sale -->
<div class="page-title">
  <h2 class="plain-color0">
    <span class="fa fa-arrow-circle-o-left"></span> Sale</h2>
</div>
<div class="row">
    <div class="col-md-2">                        
        <a href="#" class="tile tile-info">
            <span class="fa fa-bar-chart-o"></span>
            <p>Daily Sales</p>                            
            <div class="informer informer-default"><span class="fa fa-bar-chart-o"></span></div>
        </a>                        
    </div>
    <div class="col-md-2">                        
        <a href="#" class="tile tile-info">
            <span class="fa fa-pencil-square-o"></span>
            <p>Invoices</p>                            
            <div class="informer informer-default"><span class="fa fa-pencil-square-o"></span></div>
        </a>                        
    </div>
    <div class="col-md-2">                        
        <a href="#" class="tile tile-info">
            <span class="fa fa-usd"></span>
            <p>Cash Collection</p>                            
            <div class="informer informer-default"><span class="fa fa-usd"></span></div>
        </a>                        
    </div>
    <div class="col-md-2">                        
        <a href="#" class="tile tile-info">
            <span class="fa fa-square-o"></span>
            <p>Testing</p>                            
            <div class="informer informer-default"><span class="fa fa-square-o"></span></div>
        </a>                        
    </div>
    <div class="col-md-2">                        
        <a href="#" class="tile tile-info">
            <span class="fa fa-credit-card"></span>
            <p>Credit Sale</p>                            
            <div class="informer informer-default"><span class="fa fa-credit-card"></span></div>
        </a>                        
    </div>
    <div class="col-md-2">                        
        <a href="#" class="tile tile-info">
            <span class="fa fa-bars"></span>
            <p>Tank Mesurments</p>                            
            <div class="informer informer-default"><span class="fa fa-bars"></span></div>
        </a>                        
    </div>
</div>

<!-- Purchasing -->

<div class="page-title">
  <h2 class="plain-color1">
    <span class="fa fa-arrow-circle-o-left"></span> Purchasing</h2>
</div>
<div  id = "purchasing" class="row">
    <div class="col-md-2">                        
        <a href="#" class="tile tile-info color1">
            <span class="fa fa-shopping-cart"></span>
            <p>Fuel Requetion</p>                            
            <div class="informer informer-default"><span class="fa fa-shopping-cart"></span></div>
        </a>                        
    </div>
    <div class="col-md-2">                        
        <a href="#" class="tile tile-info color1">
            <span class="fa fa-building-o"></span>
            <p>Purchase Order</p>                            
            <div class="informer informer-default"><span class="fa fa-building-o"></span></div>
        </a>                        
    </div>
    <div class="col-md-2">                        
        <a href="#" class="tile tile-info color1">
            <span class="fa fa-external-link"></span>
            <p>Unloading</p>                            
            <div class="informer informer-default"><span class="fa fa-external-link"></span></div>
        </a>                        
    </div>
    <div class="col-md-2">                        
        <a href="#" class="tile tile-info color1">
            <span class="fa fa-pencil-square"></span>
            <p>GRN</p>                            
            <div class="informer informer-default"><span class="fa fa-pencil-square"></span></div>
        </a>                        
    </div>
    <div class="col-md-2">                        
        <a href="#" class="tile tile-info color1">
            <span class="fa fa-retweet"></span>
            <p>Tank Stock</p>                            
            <div class="informer informer-default"><span class="fa fa-retweet"></span></div>
        </a>                        
    </div>
    <div class="col-md-2">                        
        <a href="#" class="tile tile-info color1">
            <span class="fa fa-sort-numeric-desc"></span>
            <p>Variations</p>                            
            <div class="informer informer-default"><span class="fa fa-sort-numeric-desc"></span></div>
        </a>                        
    </div>
</div>

